// * {
//     margin: 0;
//     padding: 0;
//     border: 0;
//   }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  .btnback{
    width: 8%;
    padding: 0.5%;
    border-radius: 5%;
    font-size: medium;
  }
  .redStatus{
    color: red;
    font-weight: bold;
  }
  img {
    max-width: 100%;
  }
  /*end reset*/
  /*--login start here--*/
  
  a {
    text-decoration: none;
  }
  a:hover {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
  }
  .purCart {
    width: 100%;
    margin: 3em auto 2em;
    background-color: #094e7a;
  }
  .cart-bottom {
    background: #fff;
    padding: 2em 2em;
    color: black;
  }
  td.quantity {
    text-align: center;
    vertical-align: middle;
  }
  td.cakes {
    padding: 1em 0em;
  }
  td {
    vertical-align: middle;
    text-align: center;
    
  }
  tr.main-heading th {
    background: #ccc;
    padding: 1.5em 0em;
    font-size: 0.9em;
    text-align: center;
  }
  tr.cake-top {
    border-bottom: 1px solid #ccc;
    position: relative;
  }
  .purchaseTable {
    border-bottom: 1px solid #ccc;
  }
  .text-right{
    padding: 1% 0;
  }
  #total{
    color: red;
    text-align: center;
  }
  #fee{
    color: blue;
    text-align: center;
  }
  /*--header end here--*/
  
  @media (max-width: 1440px) {
  }
  @media (max-width: 1366px) {
    .purCart {
      width: 60%;
    }
  }

  @media (max-width: 1024px) {
    .purCart {
      width: 70%;
    }
  }
  @media (max-width: 786px) {
    .purCart {
      width: 90%;
    }
  }
  @media (max-width: 667px) {
    .purCart {
      width: 95%;
    }
  }
  
  @media (max-width: 600px) {
    .purCart {
      width: 98%;
    }
  }
  @media (max-width: 480px) {
    
    td.cake-text {
      display: none;
    }
    th.long-txt {
      display: none;
    }
    tr.main-heading th {
      padding: 1em 1.35em;
    }
    
    .purCart {
      margin: 1.5em auto 1em;
    }
    .cart-bottom {
      padding: 1em 1em;
    }
    
  }
  
  @media (max-width: 384px) {
    tr.main-heading th {
      padding: 1em 1em;
    }
  }
  @media (max-width: 320px) {
    .purCart {
      width: 98%;
    }
    
    tr.main-heading th {
      padding: 1em 0.35em;
      font-size: 0.8em;
    }
    
    td.price h4 {
      font-size: 0.8em;
    }
    h4 {
      font-size: 0.8em;
    }

  }
  /*--media quiries end here--*/
  