  .active{
    display: block;
  }
  .ui-w-80 {
    width: 100px !important;
    height: auto;
  }
  .btn {
    cursor: pointer;
  }
  .text-right{
    text-align: center;
  }
  .logoTeamText{
    text-align: left;
  }
  .card {
    background-clip: padding-box;
    box-shadow: 50px 1px 4px rgba(24, 28, 33, 0.012);
  }
  .inputAdPass{
    width: 90%;
    display: inline-block;
  }
  .icon_eyeAdmin{
    display: inline-block;
    cursor: pointer;
  }
  #CurPassAlert, #NewPassAlert, #RePassAlert{
    color: red;
    font-weight: bold;
    font-size: small;
  }
  .bg-profile {
    width: 100%;
    height: 24rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #00000015, #0000009a, #00000015),
      url('https://scontent.fsgn3-1.fna.fbcdn.net/v/t39.30808-6/275549251_520206016300881_3299209531977366126_n.jpg?_nc_cat=104&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=jFiDksVlsSsAX9hiyKY&tn=ofp2vr0xi14m5YJU&_nc_ht=scontent.fsgn3-1.fna&oh=00_AT8Tr8CR6RG7hzo8WoLQ_z9AJZp29WkOYKdSzqulOTFBfw&oe=62593F1D');
    /* url('https://scontent.fhan4-3.fna.fbcdn.net/v/t39.30808-6/275540674_520197966301686_6860499803638401283_n.jpg?_nc_cat=103&ccb=1-5&_nc_sid=e3f864&_nc_ohc=5AewNmtNK6YAX9orQDF&tn=ofp2vr0xi14m5YJU&_nc_ht=scontent.fhan4-3.fna&oh=00_AT_R1qC-2gVYCOpIjeW6-96dtmY4ETLAzx89_BtL7lvLVg&oe=6257FDC4'); */
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .my-btn-checkout{
    background-color: #0c517d;
    padding: 5px 8px;
    border-radius: 2px;
    color: white;
    font-size: medium;
  }
  
  .my-btn-checkout:hover{
    transition: ease 0.4s;
    background-color: red;
    color:white;
  }

  .labelTitle{
    font-size: medium;
    color: #0c517d;
    font-weight: bold;
    padding: 0.3% 0;
  }

  .hightlightInfo{
    color: #8b0000;
  }
  .personalInfo{
    font-weight: 500;
  }
  input[type=date]{
    color: black;
  }
  input.inputAdProfile, .selectGender{
    padding: 1%;
  }
  input.inputAdProfile, .selectGender{
    font-size: medium;
  }
  textarea.inputAdProfile, .textLarger{
    font-size: medium;
  }
  .catdatchung{
    margin-left: 2%;
    padding: 5%;
    font-size: medium;
  }
  
  .icontabpanel{
    font-size: medium;
  }
@media (max-width: 430px) {
  .catdatchung{
    display: inline-block;
    font-size: small;
  }
}
@media (max-width: 280px) {
  .catdatchung{
    display: inline-block;
    font-size: small;
  }
  .hightlightInfo{
    margin-left: -40px;
  }
  .lavel_2{
    margin-left: -10px;
  }
  .label_level_2{
    font-size: small;
  }
  input[type=text], .my-input-tag option{
    font-size: small;
  }

}

@media (max-width: 430px) {
  .catdatchung{
    display: inline-block;
    font-size: small;
  }
  .hightlightInfo{
    margin-left: 0px;
  }
  .lavel_2{
    margin-left: -10px;
  }
  .label_level_2{
    font-size: small;
  }
  input[type=text], .my-input-tag option{
    font-size: small;
  }

}
  //for component scss
  .text-light {
    color: #babbbc !important;
  }
  
  .row-bordered {
    overflow: hidden;
  }

  .account-settings-links .list-group-item {
    font-weight: bold !important;
    color: #0c527dbb !important;
    background-color: #ffffff !important;
    border-radius: 0px !important;
  }
  .border-css{
    margin-left: 7px;
  }
  .account-settings-links .list-group-item:hover {
    font-weight: bold !important;
    color: #ffffff !important;
    background-color: #0c527dbb !important;
    border-radius: 0px !important;
  }
  
  .account-settings-links .list-group-item.active {
    font-weight: bold !important;
    color: #ffffff !important;
    background-color: #0c517d !important;
    border-radius: 0px !important;
  }
  
  .light-style .account-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
  }
  
  .material-style .account-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
  }
  
  .material-style .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
  }
  
  .dark-style .account-settings-links .list-group-item {
    padding: 0.9rem 1.5rem;
    border-color: rgba(255, 255, 255, 0.03) !important;
  }
  
  .dark-style .account-settings-links .list-group-item.active {
    color: #fff !important;
  }

  .light-style .account-settings-links .list-group-item {
    padding: 1rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
  }
  