.listUsersAdminTitle{
  margin-top: -3rem !important;
  font-size: medium;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;

  .btnAddNewUser{
   margin-left: 10%;
   font-size: medium;
   width: 100%;
  }
  .btnAddNewUser:hover{
     background-color: green;
  }
  .btnEditUser{
    font-size: medium;
  }
  .btnDeleteAllUsers{
    margin-left: 2.5%;
    font-size: medium;
   }
  .btnDeleteAllUsers:hover{
    background-color: red;
  }
  .qlsp{
    background-color: #4d5b7e;
    padding: 1%;
  }
  .fw-bold{
    color: white;
  }
  .table{
     vertical-align: middle;
  }  
  tbody tr {
    height: 60px;
  }
  thead tr {
    height: 35px;
  }
  th, td {
    vertical-align: middle;
  }
  .linkToUser{
     text-decoration: none;
     color: blue;
  }
  .linkToUser:hover{
     text-decoration: underline;
     color: blue;
  }
  .pagination-bar {
    width: 100%;
    display: flex;
    justify-content: center;
  }

}