/* remove confirmation modal*/
.remove-modal {
    display: none;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  .modal-container {
    position: relative;
    min-height: 20rem;
    border-radius: 2rem;
    background-color: white;
    width: 40rem;
  }
  .modal__content {
    font-weight: bold;
    text-align: center;
    margin-top: 6rem;
    font-size: 2.5rem;
  }
  .modal__footer {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3.2rem 0 0 0;

    button {
      border-radius: 0.8rem;
      position: relative;
      font-weight: bold;
      cursor: pointer;
      font-size: 1.8rem;
      padding: 1rem 2rem;
      z-index: 1;
    }
    .cancel-btn {
      border: 2px solid black;
      background-color: white;
      color: black;
    }
  }
  .modal__button--cancel {
    margin-left: 0.8rem;
  }