@use "../../scss/abstracts/" as *;
.cartPage {
  $content-width: 70%;
  $content-width_mobile: 90%;
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
  .content {
    min-height: 60vh;
    justify-content: center;
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    gap: 2rem;
    @include tablet {
      flex-direction: column;
      width: 85%;
      gap: 1rem;
    }
  }
  .box {
    padding: 0;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
  }
  .box__heading {
    display: flex;
    padding: 2rem 1.6rem;
    font-weight: bold;
    border-bottom: 1px solid black;
    align-items: center;
  }
  .box__heading span {
    margin-right: 1rem;
    font-size: 2.1rem;
    border-radius: 50%;
    display: block;
    width: 3.2rem;
    height: 3.2rem;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 3.2rem;
  }
  .box__heading h2 {
    margin-bottom: 0px;
    font-size: 2.2rem;
  }

  /* cart and totals */
  .cart-container {
    width: 100%;
    flex: 1;
    @include mobile {
      margin-right: 0;
      margin-bottom: 2rem;
      position: inherit;
    }
  }
  .cart {
    max-height: 43rem;
    overflow-y: auto;
    padding: 2rem 2rem 0;
  }
  .cart__item {
    overflow: hidden;
    display: flex;
    align-items: stretch;
    justify-content: center;
    @include mobile {
      flex-direction: column;
      font-size: 1.6rem;
    }
  }
  .cart__item:not(:last-child) {
    border-bottom: 0.1rem solid black;
  }
  .cart__item:not(:first-child) {
    padding-top: 1.5rem;
  }
  .cart__item > * {
    padding-bottom: 1.5rem;
    vertical-align: middle;
  }
  .item__detail > *:not(:first-child) {
    margin-top: 1rem;
  }
  .item__image {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .item__image img {
    margin-right: 1.5rem;
    width: 17rem;
    @include mobile {
      width: 25rem;
      margin-right: 0;
    }
  }
  .item__detail {
    font-size: 1.4rem;
    @include mobile {
      font-size: 1.6rem;
    }
  }
  .item__detail .fa-times {
    font-size: 2rem;
    float: right;
  }
  .item__detail .fa-times:hover {
    cursor: pointer;
  }
  .detail__product-options {
    padding-left: 0;
    margin-bottom: 1rem;
  }
  .detail__product-options > * {
    display: inline-block;
  }
  .detail__product-options .RAM {
    margin-right: 1rem;
  }
  .detail__quantity {
    margin-top: 0.5rem;
    display: flex;
  }
  .detail__quantity input {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    text-align: center;
    width: 4rem;
    height: 2.8rem;
    flex: 1;
    @include mobile {
      width: 100%;
      flex: 3;
    }
  }
  .detail__product-name {
    overflow: hidden;
    max-width: 15ch;
    text-overflow: ellipsis;
    @include mobile {
      font-size: 2.2rem;
    }
  }
  .detail__item-price {
    font-weight: 600;
    font-size: 1.6rem;
    @include mobile {
      font-size: 2rem;
    }
  }
  .detail__quantity button {
    border: 1px solid black;
    background-color: white;
    height: 2.8rem;
    width: 2.8rem;
    flex: 1;
    @include mobile {
      width: 100%;
    }
    transition: all 0.15s ease-in;
  }
  .detail__quantity button:disabled {
    cursor: not-allowed;
    border-color: rgba(0, 0, 0, 0.19);
    color: rgba(0, 0, 0, 0.19);
  }
  .detail__quantity button:not(:disabled):hover {
    cursor: pointer;
    background-color: black;
    color: white;
  }
  .detail__quantity button:not(:disabled):active {
    background-color: rgba(0, 0, 0, 0.7);
  }
  /* order summary */
  .order,
  .total {
    padding: 1.75rem;
    border-top: 1px solid black;
  }
  .total .order__summary {
    font-size: 2rem;
  }
  .order__summary {
    display: flex;
    font-size: 1.75rem;
    font-weight: bold;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    justify-content: space-between;
  }
  /* Delivery  */
  .right {
    flex: 2;
    @include mobile {
      flex: 1;
    }
  }
  .delivery-info {
    width: 100%;
    .sub-heading {
      padding: 1rem 3rem;
      @include mobile {
        font-size: 1.6rem;
      }
    }
    @include mobile {
      .greeting {
        font-size: 2.2rem;
      }
    }
    .greeting {
      font-size: 3rem;
    }
  }
  .user-information {
    margin: 6rem 0;
    font-size: 1.7rem;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    @include mobile {
      margin: 3rem 0;
    }
  }
  .user-information form {
    position: relative;
    width: $content-width;
    @include mobile {
      width: $content-width_mobile;
    }
  }
  .user-information .form-group {
    position: relative;
    margin-top: 3rem;
  }
  .invalid-input {
    color: red;
  }
  .form-group label {
    opacity: 0.6;
    margin: 0 1.5rem;
    padding: 0 1rem;
    width: auto;
    font-size: 1.7rem;
    line-height: 1.5625;
    background: #fff;
    position: absolute;
    top: 1.5rem;
    left: 0;
    display: inline-block;
    cursor: text;
    transition: all 200ms ease-in;
  }
  .form-group input {
    border: 0.1rem solid black;
    border-radius: 0.5rem;
    font-size: 1.7rem;
    height: 5.5rem;
    width: 100%;
    padding: 0rem 1.25rem;
  }
  .form-group input:not(:disabled):hover {
    border: 0.2rem solid black;
  }
  .form-group input:disabled {
    background-color: white;
  }
  .form-group input:focus ~ label,
  .form-group input:not(:placeholder-shown):not(:focus) ~ label {
    top: -1.2rem;
    font-size: 1.55rem;
    opacity: 1;
  }
  .formBtn {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 3.2rem 0 0 0;
    @include mobile {
      flex-direction: column;
    }
    .cancel-btn {
      @include mobile {
        margin: 2rem 0 0 0;
      }
    }
    > * {
      width: 100%;
    }
  }
  .cancel-btn {
    border-radius: 0.8rem;
    position: relative;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.8rem;
    padding: 1rem 2rem;
    z-index: 1;
    border: 2px solid black;
    background-color: white;
    color: black;
  }
  .confirm-btn {
    border: 2px solid black;
    align-items: center;
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 0.8rem;
    position: relative;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.8rem;
    padding: 1rem 2rem;
    z-index: 1;
    @include mobile {
      width: 100%;
    }
  }
  .confirm-btn:after {
    border: none;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    content: "";
    border-radius: 0.8rem;
    cursor: pointer;
    height: calc(100% + 2px);
    width: calc(100% + 2px);
    background-color: rgba(255, 255, 255, 0.2);
    transition: transform 0.25s, visibility 0.25s ease-in;
    transform: scaleX(0);
    transform-origin: top;
  }
  .cancel-btn:after {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    content: "";
    border-radius: 0.6rem;
    cursor: pointer;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: transform 0.25s, visibility 0.25s ease-in;
    transform: scaleX(0);
    transform-origin: top;
  }
  .confirm-btn:hover:after,
  .cancel-btn:hover:after {
    transform: scaleX(1);
  }

  /* empty cart and error screens*/

  .empty-cart {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    > :not(:last-child) {
      margin-bottom: 1rem;
    }
  }
  .empty-cart {
    height: 50rem;
  }
  .empty-cart .fa-face-sad-tear {
    font-size: 15.5rem;
  }
  [class*="col-"] {
    padding: 0 8px;
    @include mobile {
      width: 100%;
    }
  }
  .payment-method {
    margin-top: 2rem;
    .methods {
      margin: 3.2rem 0;
      $hw: 48px;
      @include flex(center, center);
      flex-direction: column;
      gap: 2rem;
      label {
        @include flex(center, flex-start);
        cursor: pointer;
        padding: 0.5rem 1.2rem;
        width: 100%;
        border: 2px solid black;
        border-radius: 1rem;
        width: $content-width;
        font-weight: 500;
        transition: all 0.25s ease-in;
        &:hover,
        &.checked,
        &.checked .methods__custom-radio:after {
          opacity: 1;
        }
        @include mobile {
          width: $content-width_mobile;
        }
        span:not(:first-child) {
          margin-left: 1.8rem;
        }
      }
      input {
        opacity: 0;
      }
      &__icon > * {
        border-radius: 0.5rem;
        width: $hw;
        height: $hw;
      }
      &__name {
        font-size: 1.6rem;
      }
      &__custom-radio {
        border: 2px solid black;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        position: relative;
        &:after {
          position: absolute;
          opacity: 0;
          content: "";
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: black;
        }
      }
      .disabled {
        opacity: 0.3;
      }
    }
    .formBtn {
      button:disabled {
        opacity: 0.3;
        cursor: not-allowed;
        &:hover::after {
          transform: scale(0);
        }
      }
      width: $content-width;
    }
  }
}
