.container_login {
  background-color: #cae5e8;
  display: flex;

  justify-content: center;

  .login {
    display: flex;
    @media only screen and (max-width: 739px) {
      display: block;
      text-align: center;
      margin: 0;
      padding: 0;
    }
    .title {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 60px;
      font-weight: 500;
      @media only screen and (max-width: 739px) {
        display: block;
        text-align: center;
        font-size: 40px;
        margin: 20px 0px;
        padding: 0;
      }
    }
    .form_container {
      padding: 50px;
      display: flex;
      align-items: center;
      @media only screen and (max-width: 739px) {
        padding: 0;
        display: flex;
        justify-content: center;
      }
      .form_wrapper {
        background-color: #fff;
        border-top: 10px solid #000;
        border-radius: 10px;
        width: 80%;
        box-shadow: 0px 0px 60px 0px rgb(0 0 0 / 31%);
        @media only screen and (max-width: 739px) {
          width: 90%;
        }
        .login__line {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #000;
          height: 1px;
          width: 90%;
          margin: 2rem auto;
          span {
            position: absolute;
            background-color: white;
            padding: 0 0.5rem;
          }
        }
        .login__icon {
          width: 80%;
          margin: 0 auto;
          background-color: #000;
          color: #fff;
          margin-bottom: 2rem;
          padding: 0.8rem 0;
          border-radius: 1rem;
          transition: all 0.3s ease;
          &:hover {
            cursor: pointer;
            opacity: 0.6;
          }
          .login__icon--row {
            width: 80%;
            margin: 0 auto;
            gap: 2rem;
            display: flex;
            align-items: center;

            svg {
              font-size: 30px;
              width: 30px;
            }
          }
        }
        form {
          width: 80%;
          margin: 0 auto;
          text-align: center;
          .form_title {
            font-size: 36px;
            font-weight: 600;
            text-align: center;
            margin: 20px 0px;
          }
          .form_error {
            color: red;
            font-size: 14px;
            font-weight: bold;
          }
          input[type="submit"] {
            background: #000;
            color: #fff;
            border: none;
            width: 80%;
            border-radius: 10px;
            margin-top: 50px;
            font-size: 20px;
          }
          input[type="submit"]:hover {
            background-color: rgba($color: #000000, $alpha: 0.7);
          }
          .login_recovery {
            margin-top: 30px;
            color: #000;
            text-decoration: none !important;
          }
          .login_recovery:hover {
            cursor: pointer;
          }
        }
        .login_footer {
          background-color: #000;
          font-size: 16px;
          color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 0 0 10px 10px;
          font-size: 20px;
          padding: 10px;
          p {
            margin: 0;
          }
        }
      }
    }
  }
}
