.listItemsAdminTitle{
  margin-top: -3rem !important;
  font-size: medium;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  width: 100%;
  overflow-x: auto;

  .btnAddNewItem{
     margin-left: 10%;
     font-size: medium;
     width: 100%;
  }
  .fw-bold{
    color: white
  }
  .qlsp{
    background-color: #4d5b7e;
    padding: 1%
  }

  .tableofItem{
   vertical-align: middle;
   border-width: 1px;
   width: 100%;
  }  
  @media (max-width: 450px) {
    .tableofItem{
      vertical-align: middle;
      text-align: center;
      border: 1px solid blue;
      border-collapse: collapse;
    }
    .tableofItem thead tr th, 
    .tableofItem tbody tr td, 
    .tableofItem tbody tr th, 
    .ProdTitle, 
    .btnAddNewItem, 
    button.btnDeleteAllItems, 
    button.btnEditItem,
    button.btnDeleteItem,
    .totalCountPur{
      font-size: small;
    }
   }
  .btnAddNewItem:hover{
   background-color: green;
   }
   
   .btnDeleteAllItems{
    margin-left: 2%;
    font-size: medium;
   }
   .btnDeleteAllItems:hover{
    background-color: red;
    }
   .btnEditItem, .btnDeleteItem{
     font-size: medium;
     display: inline-block;
   }

   .btnEditItem:hover, .btnDeleteItem:hover{
    display: inline-block;
  }
   .formMethod{
     display: inline;
   }
  .linkToItem{
     text-decoration: none;
     color: blue;

  }
  tbody tr {
    height: 60px;
    width: 20%;
    }
    thead tr {
      height: 35px;
      }
      th, td {
        vertical-align: middle;
      }
  .linkToItem:hover{
     text-decoration: underline;
     color: red;
  }
  .pagination-bar {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  #gotoPageNum, #getNumPerPage{
    padding: 2px;
    text-align: center;
    margin: 5px;
    vertical-align: middle;
  }
  .myCustomBtn{
    padding: 6px;
    font-size: small;
    color: blue;
    background-color: white;
  }
  .myCustomBtn:hover{
    background-color: blue;
    color: white
  }
  .divCustomBtn{
    background-color: #4d5b7e;
    color: white;
    padding: 5px
  }
  
}
