.listItemsAdminTitle{
  padding-top: 0rem !important;
  font-size: larger;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;

  .btnAddNewItem{
     margin-left: 10%;
     font-size: larger;
     width: 100%;
  }
  .fw-bold{
    color: blue
  }
  .table{
   vertical-align: middle;
   border-width: 1px;
  }  
  .btnAddNewItem:hover{
   background-color: green;
   }
   .btnEditItem, .btnDeleteItem{
     font-size: small;
     display: inline-block;
   }
   .btnEditItem:hover, .btnDeleteItem:hover{
    font-size: small;
    display: inline-block;
    //color: white;
    //background-color: blue;
  }
   .formMethod{
     display: inline;
   }
  .linkToItem{
     text-decoration: none;
     color: blue;

  }
  tbody tr {
    height: 60px;
    width: 20%;
    }
    thead tr {
      height: 35px;
      }
      th, td {
        vertical-align: middle;
      }
  .linkToItem:hover{
     text-decoration: underline;
     color: red;
  }
  .pagination-bar {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
}



