.item {
  border: 1px solid #000;
  height: 5rem;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  width: 11rem;
  padding: 0 1px;
  margin-top: 10px;
  img {
    display: block;
    width: 26px;
    height: 26px;
  }
  .item__info {
    margin-left: 1px;
    flex: 1;
    text-align: center;
    .item__name {
      font-size: 12px;
      font-weight: bold;
      margin: 0;
    }
    .item__price {
      font-size: 12px;
      margin: 0;
    }
  }
}
.item:hover {
  cursor: pointer;
}
.active {
  border: 1px solid #ff0000 !important;
  position: relative;
}
.active::after {
  content: "";
  width: 15px;
  height: 10px;
  border-radius: 0.5rem 0 0.5rem 0;
  background: #d70018;
  background-image: url(https://cdn.cellphones.com.vn/media/icons/checkmark.svg);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  position: absolute;
  top: -1px;
  left: -1px;
}
