.center{
    text-align: center;
}
.btnoption {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 12px 21px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin:5px 0;
  }
  *{
      margin: 5px 0;
  }
 .custombtn{
    font-size: 16px;
    padding: 12px 21px;
 }